<div
  style="min-width: 100px"
  class="ui fluid search selection dropdown"
  tabindex="0"
  (blur)="blur()"
  [ngClass]="{ multiple: allowMultiple, error: hasError() }"
>
  <i class="dropdown icon"></i>
  <input class="search" />
  <div class="default text">{{ placeholder }}</div>
  <div class="menu">
    <div
      class="item"
      [attr.data-value]="getOptionValue(option.value)"
      *ngFor="let option of options; trackBy: identify"
    >
      {{ option.name }}
    </div>
  </div>
</div>
