<h3>Cost</h3>
<table class="ui collapsing celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Payer</th>
      <th>Amount</th>
      <th *ngFor="let person of (people$ | async)">
        <div class="ui input mini" [ngClass]="{ error: !person.name.length }">
          <input
            type="text"
            placeholder="Person"
            [(ngModel)]="person.name"
            (blur)="editPerson(person)"
          />
        </div>
      </th>
      <th>
        <button
          class="ui labeled primary icon button mini"
          (click)="addPerson()"
        >
          <i class="user plus icon"></i>
          Add person
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>
        <div class="ui input mini" [ngClass]="{ error: !category.name.length }">
          <input
            type="text"
            placeholder="Category"
            [(ngModel)]="category.name"
            (blur)="editCategory(category)"
          />
        </div>
      </td>
      <td>
        <app-select
          [name]="payer"
          [(ngModel)]="category.payerId"
          (ngModelChange)="editCategory(category)"
          [options]="payerOptions"
          [required]="true"
          [placeholder]="'None'"
        ></app-select>
      </td>
      <td>
        <div class="ui input mini" [ngClass]="{ error: category.amount <= 0 }">
          <input
            type="number"
            placeholder="0.00"
            [(ngModel)]="category.amount"
            (blur)="editCategory(category)"
          />
        </div>
      </td>
      <td *ngFor="let person of (people$ | async)">
        <input
          type="checkbox"
          [(ngModel)]="category.payee[person.id]"
          (ngModelChange)="editCategory(category)"
        />
        <label class="marg-left-10">{{
          getAmount(category, person) | currency
        }}</label>
      </td>
      <td>
        <button
          (click)="tickCategory(category)"
          class="ui positive icon button mini"
        >
          <i class="check square icon"></i>
        </button>
        <button
          (click)="untickCategory(category)"
          class="ui secondary icon button mini"
        >
          <i class="check square outline icon"></i>
        </button>
        <button
          (click)="removeCategory(category)"
          class="ui negative icon button mini"
        >
          <i class="remove icon"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <button
          class="ui labeled primary icon button mini"
          (click)="addCategory()"
        >
          <i class="shopping cart icon"></i>
          Add category
        </button>
      </td>
      <td></td>
      <td></td>
      <td *ngFor="let person of (people$ | async)">
        <button
          *ngIf="canRemove(person)"
          (click)="removePerson(person)"
          class="ui negative icon button mini"
        >
          <i class="remove icon"></i>
        </button>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
