<div class="marg-top-30">
  <h3>Upfront payments</h3>
  <table class="ui collapsing celled table">
    <thead>
      <tr>
        <th>Receiver</th>
        <th>Sender</th>
        <th>Amount pp</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>
          <app-select
            *ngIf="paymentMap[payment.id].receivers"
            [name]="receiver"
            [(ngModel)]="payment.receiverId"
            (ngModelChange)="editPayment(payment)"
            [options]="paymentMap[payment.id].receivers"
            [required]="true"
            [placeholder]="'None'"
          ></app-select>
        </td>
        <td>
          <app-select
            *ngIf="paymentMap[payment.id].senders"
            [name]="sender"
            [(ngModel)]="payment.senderIds"
            (ngModelChange)="editPayment(payment)"
            [options]="paymentMap[payment.id].senders"
            [allowMultiple]="true"
            [required]="true"
            [placeholder]="'None'"
          ></app-select>
        </td>
        <td>
          <div class="ui input mini" [ngClass]="{ error: payment.amount <= 0 }">
            <input
              type="number"
              placeholder="Amount"
              [(ngModel)]="payment.amount"
              (blur)="editPayment(payment)"
            />
          </div>
        </td>
        <td>
          <button
            (click)="removePayment(payment)"
            class="ui negative icon button mini"
          >
            <i class="remove icon"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <button
            class="ui labeled primary icon button mini"
            (click)="addPayment()"
          >
            <i class="money bill alternate icon"></i>
            Add payment
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
